[submodule ".config/mpv-modules/mpv-youtube-upnext"]
	path = .config/mpv-modules/mpv-youtube-upnext
	url = https://github.com/ksyasuda/mpv-youtube-upnext
[submodule ".config/mpv-modules/mpv-youtube-queue"]
	path = .config/mpv-modules/mpv-youtube-queue
	url = https://github.com/ksyasuda/mpv-youtube-queue
[submodule ".config/mpv-modules/ytdl-preload"]
	path = .config/mpv-modules/ytdl-preload
	url = git@gist.github.com:484107d131ba0abd878c5a9489d9b664.git
[submodule ".config/mpv-modules/thumbfast"]
	path = .config/mpv-modules/thumbfast
	url = git@github.com:po5/thumbfast.git
